<h1>Welcome to the Angular Coding Challenge!!</h1>

<button (click)="getPosts()">Get Random Questions!</button>

<div *ngIf="posts">
<ul>
  <li *ngFor="let question of questions">
    <span>{{question.question}}</span>
    <br>
    <br>
    <div>
    <fieldset>
    <input type="radio" name="{{question.id}}" id="{{question.incorrect_answers[question.ordering[0]]}}" value="{{question.id}}"
    (change)="onAnswerSelected($event)">{{question.incorrect_answers[question.ordering[0]]}}
    <input type="radio" name="{{question.id}}" id="{{question.incorrect_answers[question.ordering[1]]}}" value="{{question.id}}"
    (change)="onAnswerSelected($event)"> {{question.incorrect_answers[question.ordering[1]]}}
    <input type="radio" name="{{question.id}}" id="{{question.incorrect_answers[question.ordering[2]]}}" value="{{question.id}}"
    (change)="onAnswerSelected($event)">{{question.incorrect_answers[question.ordering[2]]}}
    <input type="radio" name="{{question.id}}" id="{{question.incorrect_answers[question.ordering[3]]}}" value="{{question.id}}"
    (change)="onAnswerSelected($event)">{{question.incorrect_answers[question.ordering[3]]}}
  </fieldset>
  </div>
    <br>
    <br>
  </li>
</ul>

<button (click)="checkAnswers()">Check my Answers!</button>
<br>
<br>

<div *ngIf="checkAnswers">
<h3>Congratulations! You got {{correct}} question(s) correct!</h3>
</div>
</div>